In [1]:
%%writefile DataPrep_Kit.py
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
# data reading
def read_file(pathOfFile,typeOfFile):
    '''
    It's a function in my own package to read file using pandas package 
    data maybe csv, Fixed-Width Text File (fwf), JSON, HTML , XML , clipboard,
    Excel, HDF5 (hdf), feather, Parquet, orc , stata and SQL
    '''
    if typeOfFile == "csv":
        data = pd.read_csv(pathOfFile)
    elif typeOfFile == "fwf":
        data = pd.read_fwf(pathOfFile)
    elif typeOfFile == "JSON":
        data = pd.read_json(pathOfFile)
    elif typeOfFile == "HTML":
        data = pd.read_html(pathOfFile)
    elif typeOfFile == "XML":
        data = pd.read_xml(pathOfFile)
    elif typeOfFile == "clipboard":
        data = pd.read_clipboard(pathOfFile)
    elif typeOfFile == "Excel":
        data = pd.read_excel(pathOfFile)
    elif typeOfFile == "HDF5":
        data = pd.read_hdf(pathOfFile)
    elif typeOfFile == "feather":
        data = pd.read_feather(pathOfFile)
    elif typeOfFile == "Parquet":
        data = pd.read_parquet(pathOfFile)
    elif typeOfFile == "orc":
        data = pd.read_orc(pathOfFile)
    elif typeOfFile == "stata":
        data = pd.read_stata(pathOfFile)
    elif typeOfFile == "SQL":
        data = pd.read_sql(pathOfFile)
    else:
        data = pd.DataFrame([])
        help (read_file)
    return data
#data summary
def Data_Summary(data : pd.DataFrame):
    '''
    It's a function in my own package print data summary (categorical & numerical)
    '''
    display(data.describe(include = ['object','bool'])) , display(data.describe())
#Handling missing values
def handle_missing_values(data : pd.DataFrame,remove=False, **methods):
    '''
    It's a function in my own package to handle missing values >>In Place<<
    remove nulls --> remove = True
    data_method --> specific --> if you need specific word or number
    data_method --> org -- if you need a method from next
    replace nulls with mean,median,ffill,bfill
    ffill --> method is set as ffill and hence the value in the same column replaces the null value from up to down
    bfill --> method is set as ffill and hence the value in the same column replaces the null value from down to up
    ex:data_method='org', method = 'ffill'
    '''
    if remove:
        data.dropna(inplace=True)
        return
    if methods['data_method'] == 'specific':
        data.fillna( methods['value'], inplace = True)
    elif methods['data_method'] == 'org':
        data.fillna( method=methods['method'] , inplace = True)
def encoding (data: pd.DataFrame , method, cols : list):
    '''
    It's a function in my own package to encode categorical columns 
    method is LabelEncoder or oneHotEncoder
    cols is the list of columns
    '''
    if method == 'LabelEncoder':
        labelencoder = LabelEncoder()
        data[cols] = data[cols].apply(labelencoder.fit_transform)
        return data
    elif method == 'oneHotEncoder':
        if len(cols)>1:
            new_data = pd.get_dummies(data, columns=cols, prefix=cols)
            return new_data
        new_data = pd.get_dummies(data, columns=cols, prefix=cols)
        return new_data
    else :
          raise ValueError("Enter oneHotEncoder or LabelEncoder")

Writing DataPrep_Kit.py

In [2]:
import DataPrep_Kit as dp
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    'Color': ['Red', 'Blue', 'Green', 'Blue', 'Red'],
    'Size': ['Small', 'Medium', 'Large', 'Medium', 'Small']
})
df

   Color    Size
0    Red   Small
1   Blue  Medium
2  Green   Large
3   Blue  Medium
4    Red   Small

In [4]:
# Label Encoding
df = dp.encoding(df,'LabelEncoder',['Color'])
# One-Hot Encoding
df = dp.encoding(df,'oneHotEncoder',['Size'])

In [5]:
df

   Color  Size_Large  Size_Medium  Size_Small
0      2       False        False        True
1      0       False         True       False
2      1        True        False       False
3      0       False         True       False
4      2       False        False        True

In [6]:
df = pd.DataFrame({
    'Color': ['Red', 'Blue', 'Green', 'Blue', 'Red'],
    'Size': ['Small', 'Medium', 'Large', 'Medium', 'Small']
})

In [7]:
df = dp.encoding(df,'oneHotEncoder',['Color','Size'])

In [8]:
df

   Color_Blue  Color_Green  Color_Red  Size_Large  Size_Medium  Size_Small
0       False        False       True       False        False        True
1        True        False      False       False         True       False
2       False         True      False        True        False       False
3        True        False      False       False         True       False
4       False        False       True       False        False        True

In [9]:
d2 = {
'Name': ['Shark', 'Whale', 'Jellyfish', 'Starfish', pd.NaT],
'ID': [1, 2, 3, 4, pd.NaT],
'Population': [100, 200, np.nan, pd.NaT, pd.NaT],
'Regions': [1, None, pd.NaT, pd.NaT, pd.NaT],
'Endangered': [5, pd.NaT, pd.NaT, pd.NaT, pd.NaT]
}
df2 = pd.DataFrame(d2)

In [10]:
df2

        Name   ID Population Regions Endangered
0      Shark    1        100       1          5
1      Whale    2        200    None        NaT
2  Jellyfish    3        NaN     NaT        NaT
3   Starfish    4        NaT     NaT        NaT
4        NaT  NaT        NaT     NaT        NaT

In [11]:
dp.handle_missing_values(df2,remove=True)

In [12]:
df2

    Name ID Population Regions Endangered
0  Shark  1        100       1          5

In [13]:
d2 = {
'Name': ['Shark', 'Whale', 'Jellyfish', 'Starfish', pd.NaT],
'ID': [1, 2, 3, 4, pd.NaT],
'Population': [100, 200, np.nan, pd.NaT, pd.NaT],
'Regions': [1, None, pd.NaT, pd.NaT, pd.NaT],
'Endangered': [5, pd.NaT, pd.NaT, pd.NaT, pd.NaT]
}
df2 = pd.DataFrame(d2)

In [14]:
dp.handle_missing_values(df2,data_method='org',method='ffill')

/kaggle/working/DataPrep_Kit.py:65: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna( method=methods['method'] , inplace = True)
/kaggle/working/DataPrep_Kit.py:65: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.fillna( method=methods['method'] , inplace = True)

In [15]:
df2

        Name  ID  Population  Regions  Endangered
0      Shark   1         100        1           5
1      Whale   2         200        1           5
2  Jellyfish   3         200        1           5
3   Starfish   4         200        1           5
4   Starfish   4         200        1           5

In [16]:
d2 = {
'Name': ['Shark', 'Whale', 'Jellyfish', 'Starfish', pd.NaT],
'ID': [1, 2, 3, 4, pd.NaT],
'Population': [100, 200, np.nan, pd.NaT, pd.NaT],
'Regions': [1, None, pd.NaT, pd.NaT, pd.NaT],
'Endangered': [5, pd.NaT, pd.NaT, pd.NaT, pd.NaT]
}
df2 = pd.DataFrame(d2)

In [17]:
dp.handle_missing_values(df2,data_method='specific',value=1812)

/kaggle/working/DataPrep_Kit.py:63: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.fillna( methods['value'], inplace = True)

In [18]:
df2

        Name    ID  Population  Regions  Endangered
0      Shark     1         100        1           5
1      Whale     2         200     1812        1812
2  Jellyfish     3        1812     1812        1812
3   Starfish     4        1812     1812        1812
4       1812  1812        1812     1812        1812

In [19]:
data = dp.read_file('/kaggle/input/retail-sales-dataset/retail_sales_dataset.csv','csv')

In [20]:
data_2 = dp.read_file('/kaggle/input/retail-sales-dataset/retail_sales_dataset.csv','clv')

Help on function read_file in module DataPrep_Kit:

read_file(pathOfFile, typeOfFile)
    It's a function in my own package to read file using pandas package
    data maybe csv, Fixed-Width Text File (fwf), JSON, HTML , XML , clipboard,
    Excel, HDF5 (hdf), feather, Parquet, orc , stata and SQL

In [21]:
data_2

Empty DataFrame
Columns: []
Index: []

In [22]:
dp.Data_Summary(data)

              Date Customer ID  Gender Product Category
count         1000        1000    1000             1000
unique         345        1000       2                3
top     2023-05-16     CUST001  Female         Clothing
freq            11           1     510              351

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000